.button {
  box-sizing: border-box;
  width: 100%;
  padding: 16px 0;
  text-align: center;
  color: #444444;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #444444;
}