.contacts-and-feedback {
  width: 320px;
  margin: 0 auto;
  position: relative;
  padding-top: 35px;
  padding-bottom: 38px;
  background-color: #ffffff;
}

.contacts-and-feedback__map-wrapper {
  position: relative;
  margin-bottom: 37px;

  &::before {
    content: "";
    position: absolute;
    top: 145px;
    left: 138px;
    width: 67px;
    height: 100px;
    background-image: url("../../img/icon-map-pin.svg");
    background-repeat: no-repeat;
  }
}

.contacts-and-feedback__button {
  width: 260px;
  margin: 0 30px;
}

@media (min-width: $tablet-width) {
  .contacts-and-feedback__wrapper {
    display: flex;
    flex-direction: column;
  }
  .contacts-and-feedback__map-image {
    width: 768px;
    height: 457px;
    margin-left: -50px;
  }
  
  .contacts-and-feedback__button {
    margin-left: auto;
    margin-right: auto;
    width: 230px;
    box-sizing: border-box;
  }
}

@media (min-width: $desktop-width) {
  .contacts-and-feedback {
    padding-top: 150px;
    padding-bottom: 105px;
  }
  .contacts-and-feedback__wrapper {
    width: 350px;
    margin-left: 174px;
  }
  .contacts-and-feedback__map-image {
    width: 525px;
    height: 457px;
    position: absolute;
    top: 71px;
    right: 100px;
  }
  
  .contacts-and-feedback__button {
    margin-left: 0;
    margin-right: 0;
  }
}