.contacts__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.contacts__list {
  list-style: none;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  color: #444444;
  font-size: 15px;
  line-height: 30px;
}

.contacts__list-item {
  display: flex;
  margin-bottom: 25px;
}

.contacts__field {
  margin-right: 30px;
}

@media (min-width: $tablet-width) {
  .contacts__title {
    width: 100%;
    font-size: 43px;
    line-height: 50px;
  }
  
  .contacts__list {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
//    margin-left: 174px;
  }
  .contacts__list {
    flex-direction: column;
  }
}
