.copyright {
  padding-top: 22px;
  padding-right: 39px;
  padding-left: 39px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__text {
  font-size: 19px;
  font-weight: 700;
  line-height: 18px;
}

@media (min-width: $tablet-width){
  .copyright {
    padding: 0;
    min-width: 185px;
  }
  
}