.features {
  padding: 32px 35px 28px 30px;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #000000;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
}

.features__list-item {
  margin-top: 82px;
}

.features__description {
  margin: 0;
}