.main-nav {
  position: relative;
  padding-top: 22px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ececec;
  outline: 2px solid aqua;
}

.main-nav__logo-link {
  margin-left: 86px;
  margin-bottom: 22px;
}

.main-nav__delivery {
  display: none;
}

.main-nav__toggle {
  position: absolute;
  top: 32px;
  right: 31px;
  z-index: 2;
  display: block;
  width: 20px;
  height: 14px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 32px;
  right: 31px;
  width: 20px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 6px 0 0 #000000,
              0 12px 0 0 #000000;
}

.main-nav--opened .main-nav__toggle {
  width: 21px;
  height: 20px;
  top: 30px;
  right: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 2px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    flex-wrap: wrap;
  }
  
  .main-nav__logo-link {
    min-height: 88px;
    width: 320px;
    padding-top: 22px;
    box-sizing: border-box;
  }

  .main-nav__toggle,
  .main-nav__close {
    display: none;
  }

  .main-nav__delivery {
    display: block;
    order: 4;
    position: absolute;
    right: 50px;
    top: 105px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__logo-link {
    order: 2;
    width: 230px;
  }

  .main-nav__delivery {
    right: 100px;
  }
}
