.page-header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 320px;
  box-sizing: border-box;
  padding: 0;
  background-color: #ffffff;
  outline: 2px solid crimson;
}



@media (min-width: $tablet-width) {
  .page-header {
    width: 768px;
//    height: 89px;
    padding-left: 50px;
    padding-right: 50px;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #ececec;
  }
  
}


