.page-main {
//  width: 320px;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -17px;
}

.page-main__title {
  display: inline-block;
  margin: 75px 38px 118px 38px;
  text-align: center;
  font-size: 27px;
  line-height: 30px;
}