.page-header {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #ffffff;
}



@media (min-width: $tablet-width) {
  .page-header {
    height: 88px;
    padding-left: 50px;
    padding-right: 50px;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #ececec;
  }
  
}


