.site-list {
  min-height: 160px;
  padding: 0;
  margin: 0;
  list-style: none;
  color: #000000;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  border-top: 1px solid #ececec;
}

.site-list__item {
  border-bottom: 1px solid #ececec;
}

.site-list__item-link {
  display: inline-block;
  padding: 28px 76px;
  color: #000000;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .site-list {
    min-height: 20px;
    display: flex;
    order: 3;
    font-size: 15px;
  }

  .site-list__item {
    width: 160px;
  }
  
  .site-list__item-link {
    padding: 20px 0px;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    order: 1;
    font-size: 17px;
  }

  .site-list__item {
    width: 235px;
  }
}