.social {
  border-bottom: 1px solid #e5e5e5;
}

.social__list {
  margin: 0 60px 30px 52px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 0;
}

.social__item {
  width: 23px;
  height: 28px;
  outline: 1px solid yellow;
}
