.social {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 18px;
}

.social__list {
  margin: 0;
  padding: 0;
  padding: 0 40px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 0;
}

.social__item {
  width: 23px;
  height: 28px;
  outline: 1px solid yellow;
}

@media (min-width: $tablet-width) {
  .social {
    border: none;
    margin-bottom: 0;
  }

  .social__list {
    margin: 0;
    min-width: 145px;
    padding: 0;
    justify-content: space-between;
  }
}
