.video-holder {
  margin-bottom: 58px;
  padding-top: 25px;
  padding-bottom: 33px;
}
.video-holder__title {
  display: inline-block;
  margin: 0;
  margin-bottom: 22px;
  padding-left: 90px;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
}

.video-holder__overlay {
  margin-bottom: 28px;
}

.video-holder__wrapper {
  padding: 0 34px;
}

.video-holder__text {
  margin-bottom: 25px;
  color: #444444;
  font-size: 13px;
  line-height: 24px;
}