@import "blocks/page-header.scss";
@import "blocks/visually-hidden.scss";
@import "blocks/main-nav.scss";
@import "blocks/site-list.scss";
@import "blocks/page-main.scss";
@import "blocks/sections-list.scss";
@import "blocks/week-item.scss";
@import "blocks/section-title.scss";
@import "blocks/button.scss";
@import "blocks/features.scss";

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"),
       url("opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2"),
       url("opensansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
width: 320px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background-color: #ffffff;
  outline: 1px dashed pink;
}
