@import "page-header.scss";
@import "visually-hidden.scss";
@import "main-nav.scss";
@import "site-list.scss";
@import "page-main.scss";

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"),
       url("opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2"),
       url("opensansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Opens Sans", "Arial", sans-serif;
  font-weight: 400;
  background-color: #ffffff;
}